.title-container {
  width: 250px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  margin: 20px auto 50px auto;
  padding: 5px;
  border: 2px solid #545e75;
}

.title {
  margin: 0;
}

.main-emoji-item {
  font-size: 90px;
}

.main-emoji-container {
  border-radius: 20px !important;
  border: 2px solid #545e75 !important;
}

.emoji-container {
  width: 80%;
}

.emoji {
  font-size: 40px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #545e75;
}

.emoji:hover {
  transform: scale(1.1);
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  .colors-container {
    width: 100%;
  }
}

@media screen and (max-width: 365px) {
  .color-item {
    margin: 20px 20px 0 20px;
  }
}

.color-item {
  border: 2px solid #545e75;
  border-radius: 5px;
  width: 70px;
  height: 50px;
}

.color-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bg-sky {
  background-color: #648de5;
}

.bg-green {
  background-color: #60d394;
}

.bg-white {
  background-color: #f7f7ff;
}

.bg-pink {
  background-color: #fe6d73;
}

.bg-purple {
  background-color: #bdb2ff;
}
