.title-container {
  width: 250px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  margin: 20px auto 50px auto;
  padding: 5px;
  border: 2px solid #545e75;
}

.title {
  margin: 0;
}

.main-emoji-item {
  font-size: 90px;
}

.main-emoji-container {
  background-color: white;
  border-radius: 20px !important;
  border: 2px solid #545e75 !important;
}

.emoji-container {
  width: 80%;
}

.emoji {
  font-size: 40px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #545e75;
}

.emoji:hover {
  transform: scale(1.1);
}
